<div id="restoreModal" class="modal-overlay">
    <div class="modal-card">
        <div class="modal-header">
            <h3>Grille précédente trouvée</h3>
        </div>
        <div class="modal-body">
            <p class="save-choice-intro">Une grille précédente a été trouvée. Souhaitez-vous la restaurer ou commencer
                une
                nouvelle grille ?</p>
            <div class="save-choice-row">
                <button id="restorePreviousSessionBtn" class="btn-save-choice">
                    <span class="material-symbols-outlined">history</span>
                    Restaurer la grille
                </button>
                <button id="openSessionBtn" class="btn-save-choice">
                    <span class="material-symbols-outlined">folder_open</span>
                    Ouvrir une grille
                </button>
                <button id="discardPreviousSessionBtn" class="btn-save-choice">
                    <span class="material-symbols-outlined">add_box</span>
                    Nouvelle grille
                </button>
            </div>
        </div>
    </div>
</div>