<header>
    <button id="burgerBtn" class="burger-btn" aria-label="Menu">
        <span class="material-symbols-outlined">menu</span>
    </button>

    <div class="header-left">
        <img class="header-logo" alt="Logo" src="./media/banner.svg" />
    </div>

    <!-- Nom de l'application : affiché uniquement sur mobile -->
    <img class="header-title-logo" alt="VerbiCruciste" src="./media/text.svg" />
    <div id="ToolbarContainer"></div>
    <input id="fileInput" type="file" accept=".json" style="display:none">

</header>