<div id="authModal" class="modal-overlay" style="display: none;">
    <div class="modal-card auth-box">
        <div class="auth-tabs">
            <button id="tabLoginBtn" class="active">Connexion</button>
            <button id="tabRegisterBtn">Inscription</button>
        </div>

        <!-- Formulaire de Connexion -->
        <form id="loginForm" class="auth-form">
            <h3>Connexion à votre espace</h3>
            <div class="form-group">
                <label for="loginEmail">E-mail</label>
                <input type="email" id="loginEmail" required placeholder="votre@email.com" autocomplete="email">
            </div>
            <div class="form-group">
                <label for="loginPassword">Mot de passe</label>
                <input type="password" id="loginPassword" required placeholder="••••••••"
                    autocomplete="current-password">
            </div>
            <div id="loginError" class="error-msg"></div>
            <button type="submit" class="btn-primary login-btn"><span
                    class="material-symbols-outlined float-r">login</span>Se connecter</button>
        </form>

        <!-- Formulaire d'Inscription -->
        <form id="registerForm" class="auth-form" style="display: none;">
            <h3>Créer un compte</h3>
            <div class="form-row">
                <div class="form-group">
                    <label for="regFirstName">Prénom</label>
                    <input type="text" id="regFirstName" placeholder="Jean" autocomplete="given-name">
                </div>
                <div class="form-group">
                    <label for="regLastName">Nom</label>
                    <input type="text" id="regLastName" placeholder="Dupont" autocomplete="family-name">
                </div>
            </div>
            <div class="form-group">
                <label for="regEmail">E-mail</label>
                <input type="email" id="regEmail" required placeholder="votre@email.com" autocomplete="email">
            </div>
            <div class="form-group">
                <label for="regPassword">Mot de passe</label>
                <input type="password" id="regPassword" required placeholder="••••••••" autocomplete="new-password">
            </div>
            <div id="registerError" class="error-msg"></div>

            <button type="submit" class="btn-primary"><span
                    class="material-symbols-outlined float-r">person_add</span>S'inscrire</button>
        </form>
    </div>
</div>