<div>

    <button id="mysteryCloseModalBtn" class="aside-close-btn" data-tooltip="Fermer">
        <span class="material-symbols-outlined">close</span>
    </button>

    <div class="card-header">
        <h1 class="main-section-tilte">
            <span class="material-symbols-outlined main-section-icon">mystery</span>
            Mot mystère
            <button class="icon-btn float-r " id="openMysterySettingsBtn" data-tooltip="Paramétrer le mot mystère">
                <span class="material-symbols-outlined mystery-setting-icon">instant_mix</span>
            </button>
        </h1>
    </div>
    <div class="section">
        <div class="mystery-word-display" id="mysteryWordDisplay">_ _ _ _ _ _ _ _ _</div>
    </div>


</div>