<nav class="mobile-section-nav">

    <button id="openSectionSelection" class="mobile-nav-btn">
        <span class="material-symbols-outlined">tune</span>
        <span>Sélection</span>
    </button>

    <button id="openSectionWords" class="mobile-nav-btn">
        <span class="material-symbols-outlined">format_list_bulleted</span>
        <span>Mots</span>
    </button>

    <button id="openSectionMystery" class="mobile-nav-btn">
        <span class="material-symbols-outlined">mystery</span>
        <span>Mystère</span>
    </button>

</nav>