
@media (max-width: 1100px) {
  [component="mobile-menu-backdrop"] .mobile-menu-backdrop.active { position: fixed; inset: 0px; background: rgba(0, 0, 0, 0.45); z-index: 849; display: block !important; }
}



[component="mobile-menu-backdrop"] .mobile-menu-backdrop {
  display: none;
}

@media print {
  [component="mobile-menu-backdrop"] .mobile-menu-backdrop { display: none !important; }
}
